{
  "snapshot": {
    "source": "https://api.codespar.dev/openapi.json",
    "fetched_at": "2026-09-10T10:32:58.952Z",
    "sha256": "35fddb5dbab7c5518b2e6a2cc7427a51c0da8366eed912ee36d802ece49fb69f",
    "etag": null,
    "last_modified": null,
    "info": {
      "title": "CodeSpar AgentGate API",
      "version": "0.3.0"
    },
    "paths": 175,
    "operations": 215,
    "generator": "openapi-typescript@7.13.0"
  },
  "document": {
    "openapi": "3.1.0",
    "info": {
      "title": "CodeSpar AgentGate API",
      "version": "0.3.0",
      "description": "Machine-readable contract for the CodeSpar API. Served without a credential\nat `/openapi.json` and `/v1/openapi.json`: the routes are protected, the\ndescription of them is not.\n\nSCOPE. This document covers what a credential of the kind described under\n`securitySchemes` can call, plus the public endpoints that issue one. Every\noperation below is reachable with an API key or an OAuth access token.\nOperator surfaces that a key cannot call are deliberately absent, and this\ndocument does not name them: a document served to anyone, by anyone, is the\nwrong place to enumerate a surface on the grounds that the reader cannot\nreach it. `check:openapi-coverage` walks the route tree for those families\nand fails the build if one appears here — as a path, or in prose.\n\nCOVERAGE IS PARTIAL AND MEASURED. Request bodies and queries here are the\nsame Zod schemas the routes validate with. Response schemas are hand-written\nand are NOT checked against handler output — treat a response shape as\ndocumentation, not as a contract, until that check exists. The client routes\nthis document omits are named, one per line, in a ledger\n`check:openapi-coverage` holds in CI, so the gap can shrink and cannot\nsilently grow. It is a large gap today.\n\nWHAT IS DESCRIBED END TO END. The OAuth 2.1 flow `securitySchemes` points\nat, and one complete agent loop: list servers, open a session on their ids,\nrecord a tool call, finalize it, read the session's calls back, close the\nsession. Policy rules, wallets and triggers are described as individual\noperations, not as a runnable path — the routes that connect a server, run a\ntool server-side and read a payment's status are in the ledger, so an\nintegration that needs those still needs the prose reference below."
    },
    "servers": [
      {
        "url": "https://api.codespar.dev",
        "description": "CodeSpar API. The `csk_test_` / `csk_live_` key prefix picks the environment, not the host."
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "externalDocs": {
      "url": "https://docs.codespar.dev/docs/api",
      "description": "Prose reference, including the surfaces this spec does not yet describe."
    },
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "description": "An API key, sent as `Authorization: Bearer csk_live_… ` or `csk_test_…` (41 characters; the prefix picks the environment, not the host). An OAuth 2.1 access token from the flow advertised at `/.well-known/oauth-authorization-server` is accepted on the same header. A key is bound to one project; a service credential may target another with the `x-codespar-project` header."
        }
      },
      "schemas": {
        "Policy": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "enum": [
                "allow",
                "deny",
                "budget",
                "rate-limit",
                "time-window",
                "approval-required"
              ]
            },
            "config": {
              "type": "object",
              "additionalProperties": {}
            },
            "agents": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "tools": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "enabled": {
              "type": "boolean"
            },
            "order": {
              "type": "number"
            },
            "createdAt": {
              "type": "string",
              "format": "date-time"
            },
            "updatedAt": {
              "type": "string",
              "format": "date-time"
            }
          },
          "required": [
            "id",
            "name",
            "type",
            "config",
            "agents",
            "tools",
            "enabled",
            "order",
            "createdAt",
            "updatedAt"
          ]
        },
        "PolicyEvaluation": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time"
            },
            "agentId": {
              "type": "string"
            },
            "toolName": {
              "type": "string"
            },
            "ruleName": {
              "type": [
                "string",
                "null"
              ]
            },
            "ruleId": {
              "type": [
                "string",
                "null"
              ]
            },
            "decision": {
              "type": "string",
              "enum": [
                "allow",
                "deny"
              ]
            },
            "denialReason": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          "required": [
            "id",
            "timestamp",
            "agentId",
            "toolName",
            "ruleName",
            "ruleId",
            "decision",
            "denialReason"
          ]
        },
        "PolicyCreate": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "type": {
              "type": "string",
              "enum": [
                "allow",
                "deny",
                "budget",
                "rate-limit",
                "time-window",
                "approval-required"
              ]
            },
            "agents": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              },
              "default": []
            },
            "tools": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "default": []
            },
            "config": {},
            "enabled": {
              "type": "boolean",
              "default": true
            }
          },
          "required": [
            "name",
            "type"
          ]
        },
        "PolicyUpdate": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "type": {
              "type": "string",
              "enum": [
                "allow",
                "deny",
                "budget",
                "rate-limit",
                "time-window",
                "approval-required"
              ]
            },
            "agents": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              }
            },
            "tools": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              }
            },
            "config": {},
            "enabled": {
              "type": "boolean"
            }
          }
        },
        "PolicyReorder": {
          "type": "object",
          "properties": {
            "ids": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1
              },
              "minItems": 1,
              "maxItems": 1000
            }
          },
          "required": [
            "ids"
          ]
        },
        "WalletBalance": {
          "type": "object",
          "properties": {
            "wallet_id": {
              "type": "string"
            },
            "currency": {
              "type": "string",
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "balance_minor": {
              "type": "string",
              "description": "bigint as string"
            },
            "available_minor": {
              "type": "string",
              "description": "bigint as string"
            },
            "updated_at": {
              "type": "string",
              "format": "date-time"
            }
          },
          "required": [
            "wallet_id",
            "currency",
            "balance_minor",
            "available_minor",
            "updated_at"
          ]
        },
        "Wallet": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "org_id": {
              "type": "string"
            },
            "project_id": {
              "type": "string"
            },
            "agent_id": {
              "type": [
                "string",
                "null"
              ]
            },
            "display_name": {
              "type": "string"
            },
            "status": {
              "type": "string",
              "enum": [
                "active",
                "frozen",
                "closed"
              ]
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "closed_at": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {}
            },
            "balances": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/WalletBalance"
              }
            }
          },
          "required": [
            "id",
            "org_id",
            "project_id",
            "agent_id",
            "display_name",
            "status",
            "created_at",
            "closed_at",
            "metadata"
          ]
        },
        "WalletLedgerEntry": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "bigserial as string"
            },
            "wallet_id": {
              "type": "string"
            },
            "org_id": {
              "type": "string"
            },
            "currency": {
              "type": "string",
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "amount_minor": {
              "type": "string",
              "description": "bigint signed minor units"
            },
            "kind": {
              "type": "string",
              "enum": [
                "fund",
                "hold",
                "release",
                "debit",
                "reconcile",
                "reverse",
                "fee"
              ]
            },
            "mandate_id": {
              "type": [
                "string",
                "null"
              ]
            },
            "attempt_id": {
              "type": [
                "string",
                "null"
              ]
            },
            "external_ref": {
              "type": [
                "string",
                "null"
              ]
            },
            "reconciled_at": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "posted_at": {
              "type": "string",
              "format": "date-time"
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "required": [
            "id",
            "wallet_id",
            "org_id",
            "currency",
            "amount_minor",
            "kind",
            "mandate_id",
            "attempt_id",
            "external_ref",
            "reconciled_at",
            "posted_at",
            "metadata"
          ]
        },
        "WalletFundingSource": {
          "type": "object",
          "properties": {
            "wallet_id": {
              "type": "string"
            },
            "connection_id": {
              "type": "string"
            },
            "currency": {
              "type": "string",
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "enabled": {
              "type": "boolean"
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "required": [
            "wallet_id",
            "connection_id",
            "currency",
            "enabled",
            "created_at",
            "metadata"
          ]
        },
        "WalletReconAnomaly": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "wallet_id": {
              "type": "string"
            },
            "org_id": {
              "type": "string"
            },
            "kind": {
              "type": "string",
              "enum": [
                "debit_without_receipt",
                "receipt_without_debit"
              ]
            },
            "ledger_entry_id": {
              "type": [
                "string",
                "null"
              ]
            },
            "external_ref": {
              "type": [
                "string",
                "null"
              ]
            },
            "amount_minor": {
              "type": [
                "string",
                "null"
              ]
            },
            "currency": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "detected_at": {
              "type": "string",
              "format": "date-time"
            },
            "status": {
              "type": "string",
              "enum": [
                "open",
                "resolved",
                "dismissed"
              ]
            },
            "resolved_at": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "resolution_note": {
              "type": [
                "string",
                "null"
              ]
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "required": [
            "id",
            "wallet_id",
            "org_id",
            "kind",
            "ledger_entry_id",
            "external_ref",
            "amount_minor",
            "currency",
            "detected_at",
            "status",
            "resolved_at",
            "resolution_note",
            "metadata"
          ]
        },
        "WalletCreate": {
          "type": "object",
          "properties": {
            "display_name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120
            },
            "currency": {
              "type": "string",
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "agent_id": {
              "type": [
                "string",
                "null"
              ],
              "minLength": 1
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "required": [
            "display_name",
            "currency"
          ]
        },
        "WalletExecute": {
          "type": "object",
          "properties": {
            "amount": {
              "type": "number",
              "exclusiveMinimum": 0
            },
            "currency": {
              "type": "string",
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "target_currency": {
              "type": "string",
              "enum": [
                "USD",
                "EUR",
                "BRL",
                "MXN"
              ]
            },
            "preferred_method": {
              "type": "string",
              "minLength": 1
            },
            "recipient": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            },
            "description": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            },
            "mandate_id": {
              "type": "string",
              "minLength": 1
            },
            "purpose": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "attempt_id": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "required": [
            "amount",
            "currency",
            "recipient",
            "description",
            "mandate_id"
          ]
        },
        "WalletLedgerPost": {
          "type": "object",
          "properties": {
            "wallet_id": {
              "type": "string",
              "minLength": 1
            },
            "org_id": {
              "type": "string",
              "minLength": 1
            },
            "currency": {
              "type": "string",
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "amount_minor": {
              "type": "string",
              "pattern": "^d+$"
            },
            "kind": {
              "type": "string",
              "enum": [
                "fund",
                "hold",
                "release",
                "debit",
                "reconcile",
                "reverse",
                "fee"
              ]
            },
            "mandate_id": {
              "type": [
                "string",
                "null"
              ],
              "minLength": 1,
              "default": null
            },
            "attempt_id": {
              "type": [
                "string",
                "null"
              ],
              "minLength": 1,
              "default": null
            },
            "external_ref": {
              "type": [
                "string",
                "null"
              ],
              "minLength": 1,
              "default": null
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {},
              "default": {}
            }
          },
          "required": [
            "wallet_id",
            "org_id",
            "currency",
            "amount_minor",
            "kind"
          ]
        },
        "WalletFundingSourceBind": {
          "type": "object",
          "properties": {
            "connection_id": {
              "type": "string",
              "minLength": 1
            },
            "currency": {
              "type": "string",
              "enum": [
                "BRL",
                "USD",
                "MXN",
                "COP",
                "ARS",
                "USDC",
                "BRLA"
              ]
            },
            "metadata": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "required": [
            "connection_id",
            "currency"
          ]
        },
        "WalletAnomalyResolve": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": [
                "resolved",
                "dismissed"
              ]
            },
            "note": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          },
          "required": [
            "status"
          ]
        },
        "GatewayPaymentResult": {
          "type": "object",
          "properties": {
            "requestId": {
              "type": "string"
            },
            "status": {
              "type": "string",
              "enum": [
                "completed",
                "denied",
                "requires-approval",
                "failed"
              ]
            },
            "audit": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "step": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "pass",
                      "fail",
                      "skip"
                    ]
                  },
                  "detail": {
                    "type": "string"
                  }
                },
                "required": [
                  "timestamp",
                  "step",
                  "status",
                  "detail"
                ]
              }
            },
            "wallet": {
              "type": "object",
              "properties": {
                "holdId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "debitId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "releaseId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "insufficientFunds": {
                  "type": "boolean"
                }
              },
              "required": [
                "holdId",
                "debitId",
                "releaseId",
                "insufficientFunds"
              ]
            }
          },
          "required": [
            "requestId",
            "status",
            "audit"
          ]
        },
        "Session": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "`ses_`-prefixed"
            },
            "org_id": {
              "type": "string"
            },
            "project_id": {
              "type": "string"
            },
            "user_id": {
              "type": "string"
            },
            "servers": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "status": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "error"
              ]
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "closed_at": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            }
          },
          "required": [
            "id",
            "org_id",
            "project_id",
            "user_id",
            "servers",
            "status",
            "created_at"
          ]
        },
        "ToolCall": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "`tc_`-prefixed: the bigserial with a `tc_` prefix prepended"
            },
            "session_id": {
              "type": "string"
            },
            "server_id": {
              "type": "string"
            },
            "tool_name": {
              "type": "string"
            },
            "status": {
              "type": "string",
              "enum": [
                "running",
                "success",
                "error"
              ]
            },
            "duration_ms": {
              "type": [
                "integer",
                "null"
              ]
            },
            "error_code": {
              "type": [
                "string",
                "null"
              ]
            },
            "input": {},
            "output": {},
            "called_at": {
              "type": "string",
              "format": "date-time"
            },
            "routing": {},
            "failover_trail": {}
          },
          "required": [
            "id",
            "session_id",
            "server_id",
            "tool_name",
            "status",
            "duration_ms",
            "error_code",
            "called_at"
          ]
        },
        "Trigger": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "org_id": {
              "type": "string"
            },
            "project_id": {
              "type": [
                "string",
                "null"
              ],
              "description": "nullable during the 0014→0015 rollout"
            },
            "name": {
              "type": "string"
            },
            "event": {
              "type": "string"
            },
            "server_id": {
              "type": [
                "string",
                "null"
              ]
            },
            "webhook_url": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "total_runs": {
              "type": "integer"
            },
            "last_run_at": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "created_at": {
              "type": "string",
              "format": "date-time"
            },
            "signing_enabled": {
              "type": "boolean",
              "description": "Whether a signing secret exists. The secret itself is never read back — the serializer drops the vault reference and reports only this."
            }
          },
          "required": [
            "id",
            "org_id",
            "project_id",
            "name",
            "event",
            "server_id",
            "webhook_url",
            "status",
            "total_runs",
            "last_run_at",
            "created_at",
            "signing_enabled"
          ]
        },
        "TriggerCreated": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Trigger"
            },
            {
              "type": "object",
              "properties": {
                "secret": {
                  "type": "string",
                  "description": "The webhook signing secret, in plaintext, shown EXACTLY ONCE. Later reads expose only `signing_enabled`. Lost secrets are replaced via POST /v1/triggers/{id}/rotate-secret."
                }
              },
              "required": [
                "secret"
              ]
            }
          ]
        },
        "Whoami": {
          "type": "object",
          "properties": {
            "user": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "email"
              ],
              "description": "Display only. An API key is scoped to an org and a project, not to a user; this is a representative org member (owner first) for a 'logged in as' line, and it is absent when no member has an email."
            },
            "organization": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "name"
              ]
            },
            "project": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "name"
              ]
            },
            "key": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "environment": {
                  "type": "string"
                },
                "scopes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "scopes"
              ]
            }
          },
          "required": [
            "organization",
            "project",
            "key"
          ]
        },
        "AgentRevokeLimits": {
          "type": "object",
          "properties": {
            "stops": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "does_not_stop": {
              "type": "string"
            },
            "issue": {
              "type": "string"
            }
          },
          "required": [
            "stops",
            "does_not_stop",
            "issue"
          ],
          "description": "What this verb reaches and what it does not. Served with every 200 so the limit travels with the act."
        },
        "ServerCatalogRow": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "pkg": {
              "type": "string"
            },
            "category": {
              "type": "string"
            },
            "country": {
              "type": "string"
            },
            "auth_type": {
              "type": "string"
            },
            "tools_count": {
              "type": "integer",
              "minimum": 0
            },
            "description": {
              "type": [
                "string",
                "null"
              ]
            },
            "status": {
              "type": "string"
            },
            "provider_homepage": {
              "type": [
                "string",
                "null"
              ]
            },
            "provider_logo_url": {
              "type": [
                "string",
                "null"
              ]
            },
            "provider_logo_fallback_url": {
              "type": [
                "string",
                "null"
              ]
            },
            "provider_docs_url": {
              "type": [
                "string",
                "null"
              ]
            },
            "sandbox_available": {
              "type": "boolean"
            },
            "sandbox_url": {
              "type": [
                "string",
                "null"
              ]
            },
            "subaccount_provisionable": {
              "type": "boolean"
            },
            "engine_provisionable": {
              "type": "boolean",
              "description": "Has an engine provisioning descriptor AND is not quarantined."
            },
            "engine_status": {
              "type": "string",
              "enum": [
                "none",
                "available",
                "quarantined"
              ],
              "description": "Carries the reason `engine_provisionable` is false."
            }
          },
          "required": [
            "id",
            "name",
            "pkg",
            "category",
            "country",
            "auth_type",
            "tools_count",
            "description",
            "status",
            "subaccount_provisionable",
            "engine_provisionable",
            "engine_status"
          ]
        }
      },
      "parameters": {}
    },
    "paths": {
      "/.well-known/oauth-protected-resource": {
        "get": {
          "security": [],
          "summary": "Protected-resource metadata (RFC 9728)",
          "description": "The document an MCP client fetches after a 401, from the `resource_metadata` the `WWW-Authenticate` header points at `resource` and `authorization_servers` are the same origin: this API is its own authorization server.\n\nHost-aware. The issuer is derived from the request's Host, so the copy served on a custom domain advertises that domain and not this document's `servers[0]` — a client that pasted one origin gets tokens minted for it (RFC 8707 resource indicators).",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "resource": {
                        "type": "string"
                      },
                      "authorization_servers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "bearer_methods_supported": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "scopes_supported": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "resource",
                      "authorization_servers",
                      "bearer_methods_supported",
                      "scopes_supported"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/.well-known/oauth-authorization-server": {
        "get": {
          "security": [],
          "summary": "Authorization-server metadata (RFC 8414)",
          "description": "The three endpoint URLs below, absolute under the issuer, plus what this server supports: `response_types_supported: [\"code\"]`, `grant_types_supported: [\"authorization_code\", \"refresh_token\"]`, `code_challenge_methods_supported: [\"S256\"]` and `token_endpoint_auth_methods_supported: [\"none\"]`.\n\nRead the last two together: this is a PUBLIC client with no secret, and PKCE S256 is mandatory rather than preferred. `plain` is never advertised and is refused at the authorize endpoint. Host-aware, like the document above.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "issuer": {
                        "type": "string"
                      },
                      "authorization_endpoint": {
                        "type": "string"
                      },
                      "token_endpoint": {
                        "type": "string"
                      },
                      "registration_endpoint": {
                        "type": "string"
                      },
                      "response_types_supported": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "grant_types_supported": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "code_challenge_methods_supported": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "token_endpoint_auth_methods_supported": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "scopes_supported": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "issuer",
                      "authorization_endpoint",
                      "token_endpoint",
                      "registration_endpoint",
                      "response_types_supported",
                      "grant_types_supported",
                      "code_challenge_methods_supported",
                      "token_endpoint_auth_methods_supported",
                      "scopes_supported"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/oauth/register": {
        "post": {
          "security": [],
          "summary": "Register a client (RFC 7591 dynamic client registration)",
          "description": "Open registration, on purpose: it is what lets an MCP client obtain a `client_id` with no pre-existing CodeSpar credential. `redirect_uris` must be absolute `https`, except loopback (`127.0.0.1`, `[::1]`, `localhost`), where `http` is allowed for a native client catching the redirect on a random port (OAuth 2.1 / RFC 8252 §7.3).\n\nA `client_id` is an identifier, not a credential. It carries no token, no tenant and no reach; every path from it to a token runs through the consent page, where a live API key has to be pasted, and the resulting token is bounded by that key's own scopes. Registration is not rate limited and not capped.",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_uris": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "description": "Absolute https URIs; http only for loopback hosts."
                    },
                    "client_name": {
                      "type": "string",
                      "description": "Truncated to 256 characters. Rendered on the consent page."
                    },
                    "token_endpoint_auth_method": {
                      "type": "string"
                    },
                    "grant_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "response_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "redirect_uris"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Created",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "client_id": {
                        "type": "string"
                      },
                      "redirect_uris": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "client_name": {
                        "type": "string"
                      },
                      "token_endpoint_auth_method": {
                        "type": "string",
                        "enum": [
                          "none"
                        ]
                      },
                      "grant_types": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "response_types": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "client_id",
                      "redirect_uris",
                      "token_endpoint_auth_method",
                      "grant_types",
                      "response_types"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "`invalid_redirect_uri` when a URI is missing, relative, or http on a non-loopback host.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string"
                      },
                      "error_description": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/oauth/authorize": {
        "get": {
          "security": [],
          "summary": "Consent page (RFC 6749 §4.1.1 authorization request)",
          "description": "Returns `text/html`, NOT JSON: this is the leg a human completes in a browser, so a generated client should open it rather than call it. `response_type=code`, a registered `client_id`, a `redirect_uri` matching one registered for that client exactly, and `code_challenge` with `code_challenge_method=S256` are all required.\n\nErrors are rendered as HTML with status 400 and are NOT redirected: per RFC 6749 §4.1.2.1 an invalid `client_id`/`redirect_uri` must not be redirected to, and this endpoint keeps that posture for every error so a human sees the reason on the page. A scope request this server cannot satisfy is refused here, before the form asking for a key is drawn.",
          "parameters": [
            {
              "schema": {
                "type": "string",
                "enum": [
                  "code"
                ]
              },
              "required": true,
              "name": "response_type",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "client_id",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "redirect_uri",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "code_challenge",
              "in": "query"
            },
            {
              "schema": {
                "type": "string",
                "enum": [
                  "S256"
                ]
              },
              "required": true,
              "name": "code_challenge_method",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "state",
              "in": "query"
            },
            {
              "schema": {
                "type": "string",
                "description": "Space-separated. Requesting more than the pasted key holds is refused."
              },
              "required": false,
              "description": "Space-separated. Requesting more than the pasted key holds is refused.",
              "name": "scope",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "The consent page.",
              "content": {
                "text/html": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "400": {
              "description": "Rendered as HTML, never redirected.",
              "content": {
                "text/html": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "post": {
          "security": [],
          "summary": "Consent submit — exchanges a pasted API key for an authorization code",
          "description": "`application/x-www-form-urlencoded`, submitted by the page above, not by a generated client. The form carries the same authorization-request parameters plus the API key the human pasted.\n\nOn success: 302 to `redirect_uri` with `code` and `state`. The code is single-use, short-lived, and bound to the tenant, the client, the redirect URI, the PKCE challenge AND the API key that authorized it — so revoking that key invalidates every token the code goes on to mint, and the token's scopes can never exceed the key's own. On refusal the page re-renders as HTML with 400.",
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response_type": {
                      "type": "string",
                      "enum": [
                        "code"
                      ]
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "redirect_uri": {
                      "type": "string"
                    },
                    "code_challenge": {
                      "type": "string"
                    },
                    "code_challenge_method": {
                      "type": "string",
                      "enum": [
                        "S256"
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    },
                    "api_key": {
                      "type": "string",
                      "description": "A live API key. Never stored, never returned."
                    }
                  },
                  "required": [
                    "response_type",
                    "client_id",
                    "redirect_uri",
                    "code_challenge",
                    "code_challenge_method",
                    "api_key"
                  ]
                }
              }
            }
          },
          "responses": {
            "302": {
              "description": "Location: <redirect_uri>?code=…&state=… (RFC 6749 §4.1.2).",
              "headers": {
                "Location": {
                  "schema": {
                    "type": "string"
                  },
                  "required": true
                }
              }
            },
            "400": {
              "description": "Rendered as HTML, never redirected.",
              "content": {
                "text/html": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/oauth/token": {
        "post": {
          "security": [],
          "summary": "Token endpoint — authorization_code and refresh_token grants",
          "description": "`application/x-www-form-urlencoded`, unauthenticated (public client, `token_endpoint_auth_method: none`); the authorization code IS the authority. `grant_type=authorization_code` requires `code`, `code_verifier`, `redirect_uri` and `client_id`; `grant_type=refresh_token` requires `refresh_token`. Anything else is 400 `unsupported_grant_type`.\n\nRedemption is atomic and single-use even under a concurrent retry: a second redemption of the same code sees no row and gets 400 `invalid_grant`. The refresh grant ROTATES — the presented refresh token is revoked and a new one returned, so a client must persist the new value. `expires_in` is the access token's lifetime in seconds Responses carry `Cache-Control: no-store` (RFC 6749 §5.1).",
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grant_type": {
                      "type": "string",
                      "enum": [
                        "authorization_code",
                        "refresh_token"
                      ]
                    },
                    "code": {
                      "type": "string"
                    },
                    "code_verifier": {
                      "type": "string"
                    },
                    "redirect_uri": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "grant_type"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_token": {
                        "type": "string"
                      },
                      "token_type": {
                        "type": "string",
                        "enum": [
                          "Bearer"
                        ]
                      },
                      "expires_in": {
                        "type": "integer"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "scope": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "access_token",
                      "token_type",
                      "expires_in",
                      "refresh_token",
                      "scope"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "`invalid_grant` (code invalid, expired, already used, bound to a different client or redirect_uri, PKCE verification failed, or carrying no recorded scope grant), `invalid_request`, or `unsupported_grant_type`.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string"
                      },
                      "error_description": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/openapi.json": {
        "get": {
          "security": [],
          "summary": "This document",
          "description": "Built once per boot from static Zod definitions, identical for every caller, and served with no credential — which is the whole point of ent#964. `/v1/openapi.json` returns the same bytes.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        }
      },
      "/v1/openapi.json": {
        "get": {
          "security": [],
          "summary": "This document, under the /v1 mount",
          "description": "Identical to `/openapi.json`. Both mounts exist because a generator, a crawler or a reader will try either.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        }
      },
      "/v1/providers": {
        "get": {
          "summary": "List the MCP servers this project can attach to a session",
          "description": "The catalog `POST /v1/sessions` draws its `servers` ids from. `total` is everything visible to this project, `filtered` is what survived the query parameters, and `servers` is the filtered page; the route does not paginate, so `filtered` and `servers.length` agree.\n\nVisibility is per project: another project's generated (`gen_`-prefixed) servers are absent, global catalog rows always present. Presence here is NOT permission to invoke — that is gated separately on a connected account, which is what `POST /v1/connect/start` establishes.",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "category",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "country",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "q",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer"
                      },
                      "filtered": {
                        "type": "integer"
                      },
                      "servers": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ServerCatalogRow"
                        }
                      }
                    },
                    "required": [
                      "total",
                      "filtered",
                      "servers"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/providers/{slug}": {
        "get": {
          "summary": "Read one provider",
          "description": "The same enriched row the list returns, by slug — `{slug}` is the catalog primary key, the value `GET /v1/providers/{slug}/auth-schema` also takes. 404 for another project's generated (`gen_`-prefixed) provider: the list already hides it, so answering differently here would leak what the list conceals.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ServerCatalogRow"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "not_found"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/servers": {
        "get": {
          "deprecated": true,
          "summary": "List the MCP servers this project can attach to a session",
          "externalDocs": {
            "url": "https://github.com/codespar/codespar-enterprise/issues/979",
            "description": "ent#979 — canonical path and alias window"
          },
          "description": "DEPRECATED alias of `GET /v1/providers` (ent#979), kept for two releases. Same handler, same required scope; switch the path and nothing else changes.\n\nThe catalog `POST /v1/sessions` draws its `servers` ids from. `total` is everything visible to this project, `filtered` is what survived the query parameters, and `servers` is the filtered page; the route does not paginate, so `filtered` and `servers.length` agree.\n\nVisibility is per project: another project's generated (`gen_`-prefixed) servers are absent, global catalog rows always present. Presence here is NOT permission to invoke — that is gated separately on a connected account, which is what `POST /v1/connect/start` establishes.",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "category",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "country",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "q",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer"
                      },
                      "filtered": {
                        "type": "integer"
                      },
                      "servers": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ServerCatalogRow"
                        }
                      }
                    },
                    "required": [
                      "total",
                      "filtered",
                      "servers"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/sessions": {
        "post": {
          "summary": "Open a session",
          "description": "A session is the unit an agent's tool calls, policy evaluations and audit entries hang off. `servers` names the connected MCP servers it may reach (1-20), and every id must be one `GET /v1/servers` returns for this project — an id that is not gets 400 `unknown_servers` with the offenders listed, which is a different body from the schema `invalid_body` above it.\n\n`mocks` and `chaos` are accepted only on a project whose environment is `test`: a live-environment project gets 403 mocks_not_permitted, a payload over 64 KiB gets 413, and a malformed one gets 400 with RFC 6901 pointers pointing at the offending field.",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "servers": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1
                      },
                      "minItems": 1,
                      "maxItems": 20
                    },
                    "user_id": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    },
                    "mocks": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "chaos": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "servers"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — schema failure, or an unknown server id.",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string",
                            "enum": [
                              "invalid_body"
                            ]
                          },
                          "issues": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string",
                            "enum": [
                              "unknown_servers"
                            ]
                          },
                          "unknown": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "error",
                          "unknown"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "403": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "mocks_not_permitted"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            },
            "413": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "mocks_payload_too_large"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        },
        "get": {
          "summary": "List sessions",
          "description": "Newest first, keyed on (created_at, id) so a tie does not drop a page. `next_before` is the cursor for the following call and is null on the last page.",
          "parameters": [
            {
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "required": false,
              "name": "limit",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "before",
              "in": "query"
            },
            {
              "schema": {
                "type": "string",
                "enum": [
                  "active",
                  "closed",
                  "error"
                ]
              },
              "required": false,
              "name": "status",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "user_id",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "sessions": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Session"
                        }
                      },
                      "next_before": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "sessions",
                      "next_before"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/sessions/{id}": {
        "get": {
          "summary": "Read one session",
          "description": "The session plus `tool_calls_count`, the number of calls recorded against it. A session belonging to another project is indistinguishable from one that does not exist: both are 404.",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "`ses_`-prefixed"
                      },
                      "org_id": {
                        "type": "string"
                      },
                      "project_id": {
                        "type": "string"
                      },
                      "user_id": {
                        "type": "string"
                      },
                      "servers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "closed",
                          "error"
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "closed_at": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      },
                      "tool_calls_count": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "org_id",
                      "project_id",
                      "user_id",
                      "servers",
                      "status",
                      "created_at",
                      "tool_calls_count"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "not_found"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        },
        "delete": {
          "summary": "Close a session",
          "description": "Idempotent: closing an already-closed session returns the same body with the original `closed_at` rather than an error. Publishes `session.closed`, which a trigger can subscribe to. Returns the three fields below, not the whole session.",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "id",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "closed"
                        ]
                      },
                      "closed_at": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "status",
                      "closed_at"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "not_found"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/sessions/{id}/tool-calls": {
        "post": {
          "summary": "Record a tool call the client executed",
          "description": "This RECORDS a call; it does not execute one. Two ways to use it, and the difference is `status`. One shot: post a terminal `success`/`error` with `duration_ms` and `output`. Two step: post `running` with `input` as the call begins, then PATCH the outcome — which is what the SDK does and why `running` is the default.\n\nThe audit chain is appended exactly once per call, on the transition INTO a terminal status: the one-shot POST appends it here, the two-step path appends it on the PATCH. `server_id: \"mock\"` appends nothing (the mock store emits its own events). Chain entries written from this route are marked `client_sdk` — self-reported, distinct from server-observed execution.\n\n409 `session_not_active` when the session is closed. The returned `id` carries the `tc_` prefix and is what the PATCH path takes.",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "id",
              "in": "path"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "server_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "tool_name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "running",
                        "success",
                        "error"
                      ],
                      "default": "running"
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "error_code": {
                      "type": "string"
                    },
                    "input": {},
                    "output": {}
                  },
                  "required": [
                    "server_id",
                    "tool_name"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ToolCall"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "not_found"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            },
            "409": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "session_not_active"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "closed",
                          "error"
                        ]
                      }
                    },
                    "required": [
                      "error",
                      "status"
                    ]
                  }
                }
              }
            }
          }
        },
        "get": {
          "summary": "List one session's tool calls",
          "description": "Newest first, capped by `limit` and NOT paginated: there is no cursor here, so a session with more calls than `limit` (max 500) cannot be walked past the first page from this route. `GET /v1/tool-calls` is the paginated one, across the whole project.",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "id",
              "in": "path"
            },
            {
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 500,
                "default": 100
              },
              "required": false,
              "name": "limit",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "tool_calls": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ToolCall"
                        }
                      }
                    },
                    "required": [
                      "tool_calls"
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "not_found"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/sessions/{id}/tool-calls/{tc_id}": {
        "patch": {
          "summary": "Finalize a recorded tool call",
          "description": "A sparse patch: every field is optional and an omitted one keeps its current value (COALESCE), but an EMPTY body is refused — a patch that changes nothing is a caller bug, not a no-op.\n\nThe audit-chain entry is appended here only on the `running` -> terminal transition, and only once: patching an already-terminal call updates the row and appends nothing. `tc_id` is accepted with or without the `tc_` prefix; anything that is not a positive integer after stripping it is 404, not 400.",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "required": true,
              "name": "id",
              "in": "path"
            },
            {
              "schema": {
                "type": "string",
                "description": "`tc_`-prefixed"
              },
              "required": true,
              "description": "`tc_`-prefixed",
              "name": "tc_id",
              "in": "path"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "duration_ms": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "error_code": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "output": {}
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ToolCall"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "not_found"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/tool-calls": {
        "get": {
          "summary": "List tool calls across the project's sessions",
          "description": "Two response shapes on one operation: `count_only=true` returns `{ total }` and nothing else, so a counter does not have to page through every row Otherwise the page plus a composite `next_before` cursor of the form `<iso>:<id>`; a bare ISO timestamp is still accepted for older callers but pages unstably when timestamps collide.",
          "parameters": [
            {
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 500,
                "default": 100
              },
              "required": false,
              "name": "limit",
              "in": "query"
            },
            {
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "required": false,
              "name": "since",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "before",
              "in": "query"
            },
            {
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              },
              "required": false,
              "name": "count_only",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "tool_calls": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ToolCall"
                            }
                          },
                          "next_before": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "tool_calls",
                          "next_before"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "total": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "total"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/tool-calls/{id}": {
        "get": {
          "summary": "Read one tool call",
          "description": "The same row the list returns, by id. `{id}` is the WIRE id (`tc_<n>`) the list emits, not the numeric column — a bare number is accepted too. Anything else is 404 rather than a database error.",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ToolCall"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "not_found"
                        ]
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v1/webhook-endpoints": {
        "post": {
          "summary": "Subscribe a webhook to an event",
          "description": "The response is the ONLY time the signing secret is returned in plaintext. `webhook_url` is refused when it names a loopback, private or metadata host; DNS is re-checked at dispatch, so passing here is not a promise it will resolve publicly later.\n\n`event` is validated against a regex, NOT against a list of events the platform emits. A name that matches the shape but that nothing publishes is accepted with 201 and then never fires, with no signal to the subscriber.",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    },
                    "event": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128,
                      "pattern": "^[a-z0-9_]+(\\.[a-z0-9_]+)*$"
                    },
                    "server_id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "webhook_url": {
                      "type": "string",
                      "maxLength": 2048,
                      "format": "uri"
                    }
                  },
                  "required": [
                    "name",
                    "event",
                    "webhook_url"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TriggerCreated"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request — the body or query did not match the schema.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "enum": [
                          "invalid_body",
                          "invalid_query"
                        ]
                      },
                      "issues": {
                        "type": "array",
                        "items": {},
                        "description": "Zod issues, when the route reports them"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        },
        "get": {
          "summary": "List triggers",
          "description": "Same cursor shape as /v1/sessions. The signing secret is never included.",
          "parameters": [
            {
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "required": false,
              "name": "limit",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "before",
              "in": "query"
            },
            {
              "schema": {
                "type": "string",
                "enum": [
                  "active",
                  "paused",
                  "error"
                ]
              },
              "required": false,
              "name": "status",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "event",
              "in": "query"
            },
            {
              "schema": {
                "type": "string"
              },
              "required": false,
              "name": "server_id",
              "in": "query"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
[...]
